.artist-container{
    background-image: url(../../assets/Background-Members.png);
    background-size: cover;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.artist-nav{
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid black;
}

.artist-nav a {
    font-size: 36px;
    font-weight: 700;
    color: black;
    cursor: pointer;
    transition: var(--transition);
}

.artist-nav a:hover {
    color: #FF8A00;
}

.content {
    padding: 2.5rem 5rem;
}
.content h1{
    font-size: 46px;
}

.member-container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    padding: 0rem 5rem;
    justify-content: space-between;
}

.member-container h1{
    font-size: 76px;
}

.member-container span{
    font-weight: 300;
}

.memberlist{

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.memberlist a{
    position: relative;
}

.memberlist img{
    width: 210px;
    height: 209px;
    cursor: pointer;
    transition: var(--transition);
}

.memberlist .visit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: -10px;
    width: 100%;
    height: 45px;
    background-color: #FF8A00;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}
.visit .nama{
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: white;
    padding-left: 10px;
}
.visit .role{
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    color: white;
    padding-left: 10px;
}


.memberlist a:hover .visit{
    visibility: visible;
    opacity: 1;
}

.memberlist img:hover {
    filter: brightness(60%);
    /* transform: scale(1.1); */
    border-radius: 0px;
}

.memberlist .img1{
    border-radius: 0px 50% 0px 0px;
}
.memberlist .img2{
    border-radius: 0px 0px 50% 0px;
}
.memberlist .img3{
    border-radius: 50% 0px 0px 0px;
}
.memberlist .img4{
    border-radius: 0px 0px 0px 50%;
}
.memberlist .img5{
    border-radius: 50% 0px 0px 0px;
}
.memberlist .img6{
    border-radius: 0px 0px 50% 0px;
}
.memberlist .img7{
    border-radius: 50% 50% 0px 50%;
}
.memberlist .img8{
    border-radius: 50% 0px 0px 0px;
}
.memberlist .img9{
    border-radius: 50% 0px 50% 0px;
}
.memberlist .img10{
    border-radius: 50%;
}
.memberlist .img11{
    border-radius: 50% 0px 0px 0px;
}

.artist-container footer {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    /* padding-bottom: 1rem; */
    /* margin-top: 13rem; */
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Mobile Devices */
@media (max-width: 767px) {
    .artist-container{
        background-image: url(../../assets/Background-Members.png);
        background-size: cover;
        background-position: center;
    }
    .artist-nav{
        display: flex;
        justify-content: space-between;
        padding: 0rem 1rem;
        padding-top: 1.5rem;
        padding-bottom: .5rem;
        border-bottom: 2px solid black;
    }
    .artist-nav a {
        font-size: 20px;
        font-weight: 700;
        color: black;
        cursor: pointer;
        transition: var(--transition);
    }
    .content {
        padding: 2.5rem 2rem;
        height: 90vh;
    }
    .content h1{
        font-size: 36px;
    }
    .member-container{
        margin-top: 1rem;
        display: block;
        align-items: center;
        padding: 0rem 0rem;
        position: relative;
        height: 100%;
    }
    .memberlist{
        margin: 0rem auto;
        padding-top: 40px;
        width: 90%;
        display: grid;
        gap: .3rem;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .memberlist a{
        position: relative;
    }
    
    .memberlist img{
        width: 105px;
        height: 105px;
        cursor: pointer;
        transition: var(--transition);
    }
    .memberlist .visit {
        height: 25px;
        visibility: visible;
        opacity: 1;
    }.visit .nama{
        font-size: 10px;
        font-style: italic;
        font-weight: 500;
        color: white;
        padding-left: 10px;
    }
    .visit .role{
        font-size: 7px;
        font-style: italic;
        font-weight: 300;
        color: white;
        padding-left: 10px;
    }
    .artist-container footer {
        display: none;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets */
    .artist-nav{
        align-items: center;
        padding: 0rem 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid black;
    }

    .artist-nav a {
        font-size: 30px;
    }
    .artist-container{
        background-image: url(../../assets/Background-Members.png);
        background-size: cover;
        background-position: center;
    }

    .member-container{
        margin-top: 1rem;
        display: block;
        align-items: center;
        padding: 0rem 0rem;
        position: relative;
    }

    .memberlist{
        margin: 0rem auto;
        padding-top: 40px;
        width: 90%;
        display: grid;
        gap: .3rem;
        grid-template-columns: repeat(4 , 1fr);
    }
    .content {
        padding: 2.5rem 2rem;
    }
    .content h1{
        font-size: 30px;
    }
    .memberlist img{
        width: 150px;
        height: 150px;
        cursor: pointer;
        transition: var(--transition);
    }
    .artist-container footer {
        display: none;
    }
    .member-container{
        padding-top: 1rem;
        /* background-color: #FF8A00; */
    }
    .member-container h1 {
        font-size: 36px;
    }
    .memberlist .visit {
        height: 35px;
        visibility: visible;
        opacity: 1;
    }.visit .nama{
        font-size: 13px;
        font-style: italic;
        font-weight: 500;
        color: white;
        padding-left: 10px;
    }
    .visit .role{
        font-size: 10px;
        font-style: italic;
        font-weight: 300;
        color: white;
        padding-left: 10px;
    }
    .artist-container footer {
        display: block;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 0rem;
        margin-top: 7rem;
    }
}