.artist-container{
    background-image: url(../../assets/Background-Members.png);
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.artist-nav{
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid black;
}

.artist-nav a {
    font-size: 36px;
    color: black;
    cursor: pointer;
    transition: var(--transition);
}

.artist-nav a:hover {
    color: #FF8A00;
}

.content {
    padding: 2.5rem 5rem;
}
.content h1{
    font-size: 46px;
}

.member-container{
    margin-top: 1rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0rem 5rem;
    justify-content: space-between;
}

.member-container h1{
    font-size: 76px;
}

.member-container span{
    font-weight: 300;
}

.memberlist{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}


.memberlist img{
    width: 210px;
    height: 209px;
    cursor: pointer;
    transition: var(--transition);
}

.memberlist img:hover {
    filter: grayscale(80%);
    transform: scale(1.1);
    border-radius: 0px;
}

.memberlist .img1{
    border-radius: 0px 100px 0px 0px;
}
.memberlist .img2{
    border-radius: 0px 0px 100px 0px;
}
.memberlist .img3{
    border-radius: 100px 0px 0px 0px;
}
.memberlist .img4{
    border-radius: 0px 0px 0px 100px;
}
.memberlist .img5{
    border-radius: 100px 0px 0px 0px;
}
.memberlist .img6{
    border-radius: 0px 0px 100px 0px;
}
.memberlist .img7{
    border-radius: 100px 100px 0px 100px;
}
.memberlist .img8{
    border-radius: 100px 0px 0px 0px;
}
.memberlist .img9{
    border-radius: 100px 0px 100px 0px;
}
.memberlist .img10{
    border-radius: 100px;
}
.memberlist .img11{
    border-radius: 100px 0px 0px 0px;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}