.admin-container{
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-image: url('../../assets/Background-Home.png');
}

.admin-nav{
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}
.navlink{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.user{
    text-align: center;
    margin-top: 2rem;
}


.admin-nav .navlink a{
    padding: .7rem 3rem;;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    transition: var(--transition);
}

.admin-nav .navlink a:hover {
    border: 1px  solid #FF8A00;
    font-weight: 400;
    color: black;
    cursor: pointer;
    border-radius: .3rem;
}

.admin-content{
    margin:2rem 8rem;
    height: 80%;
}

.logout{
    margin-top: 2rem;
    font-size: 15px;
    padding: .7rem 3rem;
    cursor: pointer;
    background-color: #FF8A00;
    color: white;
    border-radius: 15px;
    transition: var(--transition);

}

.logout:hover{
    background-color: transparent;
    color: #FF8A00;
    border: 1px solid #FF8A00;
}