

.admin-container{
    display: grid;
    width: 100%;
    gap: 1.8rem;
    grid-template-columns: 12rem auto;
    font-family: 'Inter', sans-serif;
}

aside {
    height: 100vh;
}

aside h1{
    padding-top: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

aside .sidebar {
    background-color: #FF8A00;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 88vh;
    border-radius: 0 15px 15px 0;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: white;
    height: 3rem;
    gap: 1rem;
    position: relative;
    padding-left: 2rem;
    transition: all .3 ease;
    font-size: 20px;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a:hover{
    margin-left: 1rem;
    cursor: pointer;
    opacity: 60%;
}

.admin-content {
    margin: 5rem 3rem 2rem 1rem;
}


/* artwork page */

.artwork-container {
    width: 100%;
}

.add{
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 10rem;
    color: white;
    background-color: #FF8A00;
    border-radius: 1rem;
    cursor: pointer;
    transition: var(--transition);

}

.add:hover {
    background-color: transparent;
    color: #FF8A00;
    border: 1px solid #FF8A00;
}

.upload-form h2{
    margin-top: .7rem;
    margin-bottom: .3rem;
}
.upload-form input{
    width: 100%;
}

.upload-form select{
    border-radius: 10px;
    padding: 0px 10px;
    height: 35px;
    border: .5px solid gray;
    margin-bottom: .5rem;
    width: 100%;
}

.upload-form .link-art{
    display: flex;
}

.upload-form .link-art input{
    width: 90%;
}

.upload-form .link-art button {
    width: 9%;
    margin-left: 1%;
}
.navigation-button{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.return{
    width: 150px;
}

.submitUpload {
    width: 150px;
}


.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
}

.artwork-item{
    padding: 1rem;

}



.artwork-item img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    overflow: hidden;
}

.artwork-item p{
    font-size: 15px;
}

.artwork-container button{
    background-color: #FF8A00;
    padding: .5rem 2rem;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    margin-top: .3rem;
    transition: var(--transition);
}

.artwork-container button:hover{
    background-color: transparent;
    border: 1px solid #FF8A00;
    color: black;
}