.container-page {
    background-image: url(../../assets/background-artist.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
/* .banner {
    height: 25rem;
    width: 100%;
} */

.banner img {
    height: 25rem;
    width: 100%;
    object-fit: cover
}

.member-content {
    text-align: center;
    margin: 0rem 35rem;
}
.member-content img {
    margin-top: -120px;
    border-radius: 50%;
}

.desc {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.desc .job {
    color: white;
    padding-left: 1rem;
}
h3 {
    font-size: 20px;
    margin-top: 1.5rem;
    font-weight: 400;
}
.bio2 {
    margin-top: 1rem;
}

.member-content a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-top: 1rem;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 5px;
    transition: var(--transition);
}

.member-content a:hover{
    color: white;
}

.page-nav{
    border-top: 2px solid black;
    width: 100%;
    padding: 0rem 2rem;
    font-size: 36px;
    display: flex;
    position: absolute;
    bottom: 5px;
    justify-content: space-between;
    font-weight: 800;
    transition: var(--transition);
}

.page-nav a{
    cursor: pointer;
}

.page-nav a:hover{
    color: #FF8A00
}

/* Mobile Devices */
@media (max-width: 767px) {
    .container-page {
        background-image: url(../../assets/background-artist.png);
        background-position: center;
    }
    .member-content {
        text-align: center;
        margin: 0rem 1rem;
    }

    .member-content img{
        width: 150px;
        margin-top: -80px;
    }
    .desc {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
        margin-top: 1rem;
        font-weight: 400;
    }
    .page-nav{
        font-size: 20px;
    }
}


/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .container-page {
        background-image: url(../../assets/background-artist.png);
        background-position: center;
    }
    .member-content {
        text-align: center;
        margin: 0rem 3rem;
    }

    .member-content img{
        width: 200px;
        margin-top: -110px;
    }
    .desc {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
        margin-top: 1rem;
        font-weight: 400;
    }
    .page-nav{
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 30px;
    }
}
