.work-container{
    height: 100vh;
    background-image: url(../../assets/Background-Artwork.png);
}

.title {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

.title h1 span {
    color: #FF8A00;
    padding-right: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 2rem 10rem;
}
.card-1{
    background: url(../../assets/Group_2.png);
    background-size:cover ;
}
/* .card-2{
    background: url(../../assets//image.png);
    background-repeat: no-repeat;
    background-size: cover;
} */
.card-3{
    background: url(../../assets/Group_1.png);
}
/* .card-4{
    background: url(../../assets//Group_3.png);
} */
/* .card-2 .card-title, .card-4 .card-title {
    color: white;
} */

.card {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--transition);
}
.card:hover {
    transform: scale(1.1);
    border: none;
}
.card-2 {
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.card-3{
    border-right: 3px solid black;
}


.card .card-title {
    font-size: 60px;
}

.card .card-title h5 {
    font-weight: 300;
    font-size: 30px;
}

.card-number {
    color: #FF8A00;
    font-size: 10rem;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
    border-top: 2px solid black;
    padding-top: .5rem;
}

.footer a {
    cursor: pointer;
    font-size: 36px;
    transition: var(--transition);
}

.footer a:hover {
    color: #FF8A00;
}